.mobdet{
    width: 25%;
    height: 60%;
    background-color: white;
    box-shadow: 5px 5px 5px 5px gainsboro;
    position: absolute;
    margin-top: 10%;
    margin-left: 7%;
}
.pro{
    height: 20px;
    width: 40px;
    background: rgb(14, 92, 4);
    position: absolute;
    border-radius: 5px;
    margin-left: 37%;
    margin-top: 17.5%;
    
}